---
layout: default
---
<section class="snap-point">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for post in site.posts %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active">{% endif %}</li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for post in site.posts %}
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        <img src="{{ post.image }}" alt="{{ post.image_description}}">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>{{ post.title }}</h1>
            <p>{{ post.summary }}</p>
            <p>
            <a class="btn btn-lg btn-primary" href="{{ post.url }}" role="button">
              <span>
                {% if post.prompt %}
                {{ post.prompt }}
                {% else %}
                Learn more
                {% endif %}
                <!-- <span class="expand-text">No, really</span> -->
              </span>
            </a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section id="summary" class="snap-point">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://placehold.it/140" alt="Generic placeholder image" width="140" height="140">
        <h2>Socials</h2>
        <p>SLUGSoc gathers weekly for fun pick-up-and-play games and drinks. Head this way to learn which games you'll get to enjoy each week! We normally meet in Bar One at 6pm, moving on to Huttons Bar at 7.30pm.</p>
        <p>
        <a class="btn btn-secondary w-100" href="#" role="button">
          <span>View details &raquo;</span>
        </a>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://placehold.it/140" alt="Generic placeholder image" width="140" height="140">
        <h2>LAN events</h2>
        <p>Once every few weeks, we run LAN events at the Ridge building in Ranmoor Student Village. They're an excellent opportunity to engage with the groups you play games with. If you've not yet been to a LAN and would like to learn more, head this way!</p>
        <p>
        <a class="btn btn-secondary w-100" href="#" role="button">
          <span>View details &raquo;</span>
        </a>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://placehold.it/140" alt="Generic placeholder image" width="140" height="140">
        <h2>Competitive</h2>
        <p>For the ranked players among you, we engage with the <abbr title="National University Esports League">NUEL</abbr> every year in games like CS:GO, League of Legends, and Rocket League. Take the fight to other universities and wave that black and gold banner!</p>
        <p>
        <a class="btn btn-secondary w-100" href="#" role="button">
          <span>View details &raquo;</span>
        </a>
        </p>
      </div><!-- /.col-lg-4 -->
    </div>
  </div>
</section>



<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing mt-5">

    <!-- Three columns of text below the carousel -->
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Our committee</h2>
        <p class="lead">Thsdgbhjds</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src='https://placehold.it/500' alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src='https://placehold.it/500' alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src='https://placehold.it/500' alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

