---
layout: default
---
<div class="row pt-3 bg-dark text-light mx-0">
  <div class="col-md-8">
    <div class="container">
      <h1>Socials Schedule</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">Week</th>
              <th class="text-center">Location</th>
              <th class="text-center">Game</th>
            </tr>
          </thead>
          <tbody>
            {% for post in site.categories.weekly-social %}
            <tr onclick="window.location='{{post.url}}';">
              <td class="text-center">{{post.event.date | date: "%a, %b %d %l:%M %P"}}</td>
              <td class="text-center">{{post.event.location }}</td>
              <td class="text-center">
                <ul class="list-unstyled">
                  {% for game in post.games %}
                  {% assign game_entry = site.data.games | where: "title", game | first %}
                  {% assign platform = site.data.platforms | where: "name", game_entry.platform | first %}
                  <li>
                    {{ game }} 
                    {% if game_entry and platform %}
                    <span class="badge badge-pill badge-{{ platform.color | default: 'secondary' }}">
                      {% if platform.icon %}
                      <i class="fab fa-{{platform.icon}}"></i>
                      {% endif %}
                      {{ platform.name }}
                    </span>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
      <h1>About Socials</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
