<div class="carousel-item {% if forloop.first %} active {% endif %}">
  <div style="background-image: url({{ include.post.image }}); background-color: black; background-position: center center; background-size: cover; height: 65vh; width: auto; filter: blur(8px);">
  </div>
  <div class="container">
    <div class="carousel-caption text-left bg-dark p-3 rounded">
      <img class="w-100 pb-3 rounded" src="{{ include.post.image }}" alt="{{ include.post.image_description }}" />
      <h1>{{ include.post.title }}</h1>
      <p class="bg-light text-dark p-1 rounded"><b><span class="badge badge-pill badge-danger">{{ event_date | date: "%a, %b %d" }}</span> {{ include.post.summary }}</b></p>
      <p class="text-center">
        <a class="btn btn-danger" href="{{ include.post.url }}" role="button">
          <span>
            <i class="fas fa-info-circle"></i> 
            {% if include.post.prompt %}
            {{ include.post.prompt }}
            {% else %}
            Learn more
            {% endif %}
          </span>
        </a>
      </p>
    </div>
  </div>
</div>
