{% assign post=include.post %}
<tr onclick="window.location='{{post.url}}';">
  <td class="text-center">{{post.event.date | date: "%a, %b %d"}}</td>
  <td class="text-center">
    {% if post.games %}
      <ul class="list-unstyled">
        {% for game in post.games %}
        {% assign game_entry = site.data.games | where: "title", game | first %}
        {% assign platform = site.data.platforms | where: "name", game_entry.platform | first %}
        <li>
          {{ game }} 
          {% if game_entry and platform %}
          <span class="badge badge-pill badge-{{ platform.color | default: 'secondary' }}">
            {% if platform.icon %}
            <i class="fab fa-{{platform.icon}}"></i>
            {% endif %}
            {{ platform.name }}
          </span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    {% else %}
      {{ post.title }}
    {% endif %}
  </td>
</tr>
