{% assign curr_date = site.time | date: '%s' %}
{% assign post = include.post %}
{% assign date = post.event.date | date: '%s' %}
{% if date > curr_date %}
{% assign post_to_use = post %}
{% endif %}
  <div class="card m-1" style="min-height: 100px; flex: inherit; height: 100%;">
    <div class="card-img d-flex rounded-0 rounded-top" style="background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url({{ post.image }}); background-color: black; background-position: center center; background-size: cover; min-height: 100px; height: inherit;">
    <a class="event-card" href="{{ post_to_use.url }}" style="flex: 1; height: 100%;">
      <div class="card-body d-flex flex-row align-items-center justify-content-center flex-grow-1 text-light text-shadowed" style="flex: 1; height: 100%;">
        <div class="flex-column align-items-start pr-3 flex-grown-1 h6">
          <div>
            {% if post_to_use.categories contains 'weekly-social' %}
            {% assign type = 'Social' %}
            <i class="d-block mx-auto fas fa-2x fa-gamepad"></i>
            {% elsif post_to_use.categories contains 'unofficial' %}
            <i class="d-block mx-auto fas fa-2x fa-gamepad"></i>
            {% assign type = 'Unofficial<br/>Social' %}
            {% elsif post_to_use.categories contains 'lan' %}
            {% assign type = 'LAN' %}
            <i class="d-block mx-auto fas fa-2x fa-desktop"></i>
            {% elsif post_to_use.categories contains 'meeting' %}
            {% assign type = 'Meeting' %}
            <i class="d-block mx-auto fas fa-2x fa-users"></i>
            {% elsif post_to_use.categories contains 'other' %}
            {% assign type = 'Other' %}
            <i class="d-block mx-auto fas fa-2x fa-users"></i>
            {% elsif post_to_use.categories == nil %}
            {% assign type = nil %}
            {% endif %}
            <p class="text-center">{{ type }}</p>
          </div>
          {% if post_to_use.event.date %}
          <div class="mt-auto">
            <span class="fa-2x fa-layers fa-fw d-block mx-auto mb-1">
              <i class="fas fa-calendar"></i>
              <span class="fa-layers-text" data-fa-transform="shrink-11 down-4 right-3" style="color: grey; text-shadow: none; font-weight: bold;">{{ post_to_use.event.date | date: "%b" }}</span>
              <span class="fa-layers-text" data-fa-transform="shrink-9 down-4 left-3" style="color: black; text-shadow: none;">{{ post_to_use.event.date | date: "%-d" | default: "TBC" }}</span>
            </span>
              <p class="text-center">{{ post_to_use.event.date | date: "%-d %b"}}</p>
          </div>
          {% endif %}
        </div>

        <div class="flex-column">
          <h4 class="flex-grow-1">{{ post_to_use.title | default: "Details coming soon!"}}</h4>
          <ul class="fa-ul">
            {% if post_to_use.event.date %}
            <li><span class="fa-li"><i class="fas fa-calendar-alt"></i></span>{{ post_to_use.event.date | date: "%-d %B" }}</li>
            <li><span class="fa-li"><i class="fas fa-clock"></i></span>{{ post_to_use.event.date | date: "%-I:%M%p" }}</li>
            {% endif %}
            {% if post_to_use.event.location %}
            <li><span class="fa-li"><i class="fas fa-map-pin"></i></span>{{ post_to_use.event.location }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </a>
    </div>
    {% if post_to_use.event.facebook_link or post_to_use.event.ticket_link %}
      <div class="card-footer border-top-0 row no-gutters p-0">
        {% if post_to_use.event.facebook_link %}
        <a href="{{ post_to_use.event.facebook_link }}" class="col text-light bg-facebook p-1 text-center py-auto">
          <i class="fab fa-facebook"></i> View Facebook Event
        </a>
        {% endif %}
        {% if post_to_use.event.ticket_link %}
        <a href="{{ post_to_use.event.ticket_link }}" class="col text-light bg-danger p-1 text-center py-auto">
          <i class="fas fa-ticket-alt"></i> Buy Ticket
        </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</a>
{% assign post_to_use = nil %}
