{% assign curr_date = site.time | date: '%s' %}
{% unless include.post %}
{% assign post = include.category.first %}
{% else %}
{% assign post = include.post %}
{% endunless %}
{% assign date = post.event.date | date: '%s' %}
{% if date > curr_date %}
<a class="event-card" href="{{ post.url }}" style="flex: 1; height: 100%;">
  <div class="card text-shadowed" style="min-height: 100px; flex: inherit; height: 100%;">
    <div class="card-img" style="background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url({{ post.image }}); background-color: black; background-position: center center; background-size: cover; min-height: 100px; height: inherit;">
      <div class="card-header text-uppercase">
      </div>
      <div class="card-img-overlay d-flex flex-column justify-content-center">
        <div class="card-title pt-3">
          <span class="fa-2x">
            <span class="fa-layers fa-fw">
              <i class="fas fa-calendar"></i>
              <span class="fa-layers-text" data-fa-transform="shrink-8 down-3" style="color: black; text-shadow: none; font-weight:900">{{ post.event.date | date: "%d"}}</span>
            </span>
          </span>
          <h4 class="d-inline-block w-100 text-truncate p-1 pb-0 ">
            {% if include.type %}{{ include.type }} | {% endif %}{{ post.title }}
          </h4>
          <h5 class="rounded d-none d-md-inline-block text-truncate mx-auto p-1 text-center">
            {{ post.event.date | date: "%-d %B %-I:%M%p"}}, {{ post.event.location }}
          </h5>

        </div>
      </div>
    </div>
  </div>
</a>
{% else %}
<p class="text-center">Details coming soon!</p>
{% endif %}
