<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" style="min-height:10vh;">
  <a class="navbar-brand mx-auto ml-md-0 mr-md-3" href="/">
    <img src="/assets/img/logo-white.png" style="height: 1rem;" alt="" />
    <span class="d-none d-md-inline">
      S<span class="brand-compact" style="width: 49px;">heffie</span>l<span class="brand-compact" style="width: 14px;">d </span>U<span class="brand-compact" style="width: 78px;">niversity </span>G<span class="brand-compact" style="width: 51px;">aming </span>Soc<span class="brand-compact" style="width: 34px;">iety</span>
    </span>
    <span class="d-md-none">SLUGS Gaming Society</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.nav %}
      <li class="nav-item {% if item.url == page.url %}active{% endif %}"><a class="nav-link text-center" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="navbar-nav ml-auto text-center">
      <form class="form-inline mr-3">
        <div class="btn-group mx-auto">
          <a class="btn btn-discord" href="https://discord.gg/{{ site.discord_invite_link }}">
            <span>
              <i class="fab fa-discord"></i>
              <span class="expand-text">Discord</span>
            </span>
          </a>
          <a class="btn btn-facebook" href="https://facebook.com/{{ site.facebook_username }}">
            <span>
              <i class="fab fa-facebook"></i>
              <span class="expand-text">
                Facebook
              </span>
            </span>
          </a>
          <a class="btn btn-twitter" href="https://twitter.com/{{ site.twitter_username }}">
            <span>
              <i class="fab fa-twitter"></i>
              <span class="expand-text">
                Twitter
              </span>
            </span>
          </a>
        </div>
      </form>
      {% assign curr_date = site.time | date: '%s' %}
      {% assign lan_post = site.categories.lan.first %}
      {% assign lan_date = lan_post.event.date | date: '%s' %}
      {% if lan_date > curr_date %}
      <li class="nav-item">
        <a class="btn btn-danger" href="{{ lan_post.url }}">
          <span>
            LAN
            <span class="fa-layers fa-fw">
              <i class="fas fa-desktop" data-fa-transform="grow-2"></i>
              <span class="fa-layers-text" data-fa-transform="shrink-4" style="font-weight:900">{{ lan_post.event.lan_number }}</span>
            </span>
          </span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
