<div class="card mb-3">
  {% if include.member.image %}
  <div class="card-img-top" style="background-image: url({{ include.member.image }}); background-color: black; background-position: center center; background-size: cover; height: 50vh;"></div>
  {% endif %}
  <div class="card-body">
    <div class="card-title">
      <div class="row pt-3">
        <div class="col">
          <h3><small class="text-muted">{{ include.member.role}}</small><br />{{ include.member.name }} {%if include.member.alias%}|{% endif %} {{ include.member.alias}}</h3>    
        </div>
        <div class="col">
          <h4 style="line-height: 130%;">
            {% if member.id.discord %}
            {% include tag.html ids=member.id id=member.id.discord style="Discord" %}
            {% endif %}
            {% if member.id.nintendo %}
            {% include tag.html ids=member.id id=member.id.nintendo style="Nintendo Switch" %}
            {% endif %}
            {% if member.id.steam %}
            {% include tag.html ids=member.id id=member.id.steam style="Steam" %}
            {% endif %}
            {% if member.id.battlenet %}
            {% include tag.html ids=member.id id=member.id.battlenet style="Battle.net" %}
            {% endif %}
          </h4>
        </div>
      </div>

      <p class="card-text">{{ include.member.blurb | markdownify }}</p>
    </div>
  </div>
</div>
