<div class="card mb-3">
  <div class="card-body">
    <div class="card-title">
      <div class="pt-3">
        <div class="d-flex flex-column flex-md-row">
          <div class="d-flex flex-column">
            <h3><small class="text-muted">{{ include.member.role}}</small><br />{{ include.member.name }}</h3>
            <h5 class="text-muted"><i class="fas fa-tag mr-1"></i>{{ include.member.alias}}</h5>
            <h4 style="line-height: 130%;">
              {% if member.id.discord %}
              {% include tag.html ids=member.id id=member.id.discord style="Discord" %}
              {% endif %}
              {% if member.id.nintendo %}
              {% include tag.html ids=member.id id=member.id.nintendo style="Nintendo Switch" %}
              {% endif %}
              {% if member.id.steam %}
              {% include tag.html ids=member.id id=member.id.steam style="Steam" %}
              {% endif %}
              {% if member.id.battlenet %}
              {% include tag.html ids=member.id id=member.id.battlenet style="Battle.net" %}
              {% endif %}
            </h4>
          </div>
          <p class="card-text w-50">{{ include.member.blurb | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
