<div class="card sponsor-card bg-dark text-light mb-3">
  <div class="row" style="max-height: inherit;">
    {% if include.sponsor.image %} 
    <div class="col-md-6 d-flex align-items-center" style="max-height: inherit;"> 
      <img class="card-img sponsor-card-img" src="{{ include.sponsor.image }}" alt="Card image cap"> 
    </div> 
    {% endif %} 
    <div class="card-body col-md-6"> <h4 class="card-title d-inline-block w-100"> 
        {{ include.sponsor.name }}
      </h4>
      <p class="card-text">{{ include.sponsor.blurb }}</p>
      <a href="{{ include.sponsor.link }}" class="btn btn-danger">
        <span>
          <i class="fas fa-globe"></i>
          <span class="expand-text">View Site</span>
        </span>
      </a>
      <a href="{{ include.sponsor.facebook_link }}" class="btn btn-facebook">
        <span>
          <i class="fab fa-facebook"></i>
          <span class="expand-text">Facebook</span>
        </span>
      </a>
      <a href="{{ include.sponsor.twitter_link }}" class="btn btn-twitter">
        <span>
          <i class="fab fa-twitter"></i>
          <span class="expand-text">Twitter</span>
        </span>
      </a>

    </div>
  </div>
</div>
