$font-size-base: 1.2rem;
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@font-face {
    font-family: Bebas;
    src: url("/assets/bebas_neue/BebasNeue Bold.ttf")
}
$theme-colors: (
  "primary": #3D3D3D,
  "discord": #7289DA,
  "facebook": #3b5998,
  "twitter": #00aced,
  "steam": black,
  "nintendo-switch": #e60012,
  "wii": #dddddd,
  "dreamcast": #3b76c2,
  "wii-u": #009ac7,
  "xbox-one": #107c10,
  "playstation-4": #003791,
  "xbox-360": #93c73e,
  "battlenet": #00B4FF
);
@import "../node_modules/bootstrap/scss/variables";
$body-bg: var(--dark);
$body-color: var(--light);

$font-family-sans-serif: 'Roboto', $font-family-sans-serif;
$headings-font-family: 'Bebas', $font-family-sans-serif;
.navbar-brand, .nav-link {
    font-family: $headings-font-family;
}
