<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% if page.url == "/" %}
    <div style='height:25vh' class="text-center">
      <table class="w-100" style="height:100%;">
        <tr>
          <td class="align-middle">
            <div class="d-md-none">
              <i class="fas fa-2x fa-gamepad"></i>
              <h3>S<span class="text-muted">heffie</span>l<span class="text-muted">d</span> U<span class="text-muted">niversity</span> G<span class="text-muted">aming</span> S<span class="text-muted">ociety</span></h3>
            </div>
            <div class="d-none d-md-block">
              <i class="fas fa-5x fa-gamepad"></i>
              <h1>S<span class="text-muted">heffie</span>l<span class="text-muted">d</span> U<span class="text-muted">niversity</span> G<span class="text-muted">aming</span> S<span class="text-muted">ociety</span></h1>
            </div>
          </td>
        </tr>
      </table>
    </div>
    {% endif %}
    {% include nav.html %}

    <main role="main">
      <div class="container-fluid px-0">
        {{ content }}
      </div>
    </main>

    <!-- FOOTER -->
    {% include footer.html %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{'/assets/vendor/jquery.min.js' | absolute_url}}"></script>
    <script src="{{'/assets/vendor/popper.min.js' | absolute_url}}"></script>
    <script src="{{'/assets/vendor/bootstrap.min.js' | absolute_url}}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <script src="{{'/assets/vendor/clipboard.min.js' | absolute_url}}"></script>
    <script src="{{'/assets/vendor/sticky-kit.min.js' | absolute_url}}"></script>
    <script src="{{'/assets/vendor/cheet.min.js' | absolute_url}}"></script>
    <!-- <script src="{{'/assets/vendor/jquery.scrollify.js' | absolute_url}}"></script> -->
    <script src="{{'/assets/js/main.js' | absolute_url}}"></script>
  </body>
</html>
