---
layout: default
---
<div class="row m-0 bg-primary">
  <div class="col-md p-0">
    <div class="card m-3">
      <img class="card-img-top" src="{{ page.image}}" alt="" />
      <div class="card-body">
        <h1>{{ page.title }}</h1>
        <ul class="list-inline">
          <li class="list-inline-item align-middle">
            <i class="fas fa-2x fa-gamepad"></i>
          </li>
          {% for game in page.games %}
            {% assign game_entry = site.data.games | where: 'title', game | first %}
            {% assign platform = site.data.platforms | where: 'name', game_entry.platform | first %}
            <li class="list-inline-item align-middle">
              <span class="badge badge-pill badge-{{ platform.color }}">
                <i class="{{ platform.icon }}"></i>
                {{ game }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>   
    </div>
  </div>
  <div class="col-md p-0 m-0">
    <div class="container my-3 text-light">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</div>
